





{% extends 'index.html' %}
{% block page_content %}

<div class="hero_area">
<main>
  <table>
    <thead>
      <tr>
        <th>
          Candidate First Name
        </th>
        <th>
          Candidate Last Name
        </th>
          <th>
          Date For Interview
        </th>
        <th>
            Mobile Number
        </th>
      </tr>

    </thead>
    <tfoot>
      <tr>

      </tr>
    </tfoot>
    <tbody>
        {% for el in interview %}

      <tr>
        <td data-title='Provider Name'>
           {{ forloop.counter }}
            {{ el.candidate_first_name }}
        </td>
          <td data-title='Provider Name'>
              {#  <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a> #}
            {{ el.1 }}
              {{ el.candidate_last_name }}
        </td>
      <td data-title='Provider Name'>
              {#  <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a> #}
            {{ el.1 }}
              {{ el.date_for_interview }}
        </td>
      <td data-title='Provider Name'>
              {#  <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a> #}
            {{ el.1 }}
              {{ el.mobile_number }}
        </td>
        <td data-title='E-mail'>
          ${{ el.0 }}

        </td>

        <td class='select'>
            {% if request.user.is_superuser or request.user.is_staff %}
          <a class='button' href=''>
            Modify
{#          </a>#}
{##}
{#                 <a class='button' href='{% url 'interview:modify-interviews' id %}'>#}
{#            Delete#}
{#          </a>#}
                 <a class='button' href=''>
            View Details
          </a>
            {% else %}
            <a class='button' href=''>
            View Details
          </a>
            {% endif %}
        </td>
      </tr>

    {% endfor %}
    </tbody>
  </table>
</main>

</div>

{% endblock %}